{% load static%}
<!DOCTYPE html>
<html>
<head>
  <style>
    h1,h2 {text-align: center;}
    h1 {
      text-shadow: 2px 2px 5px rgb(68, 42, 7);
    }
    p {text-align: center;}
    </style>
    <title> This is home page </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<div class="navbar">
  <h1 text-align:center > <b>FRUIT DETECTION SYSTEM </b></h1>
  <div class="dropdown">
    <button class="dropbtn">==</button>
    <div class="dropdown-content">
    <a href="index">Fruit nutrients</a>
    <a href="index1">Freshness Off fruit</a>
    <a href="nutritions">Nutrition Table</a>
    </div>
  </div> 
  <style>
  .navbar {
    background-color: #862c2c;
  }.dropbtn {
    background-color: #df7878;
    color: rgb(4, 1, 7);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c02929;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }</style>
</div>  

<div
  class="bg-image"
  style="
    background-color: #ffb07f ;
    height: 1200px;
    background-repeat: no-repeat;
  "
  background-repeat: no-repeat;
>
<div class="container">
    <h2><p><i>Fruits and vegetables are the most important part of our healthy life. In order to keep the good health and to be in the good condition, we should consume more fruits and vegetables. We should eat less unhealthy food and try to be active more. These quotes on fruits and vegetables will motivate you to start with the healthy habits right away.</i></h2></p>
    <p>Berries are the healthiest fruit, offering potential protection against cancer and heart disease, boosting the immune system and acting as a guard for the liver and brain.</p>
    <p>Dragon fruit is very subtle, very delicate. So you want to be careful not to kill it with things that have very strong flavor.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzY64X4CDBPZYAij4qUZMNESlA2c94GdXs4w&usqp=CAU" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzY64X4CDBPZYAij4qUZMNESlA2c94GdXs4w&usqp=CAU" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Kiwi fruit is not often considered a “superfood”, but in fact, it’s a fruit that is full of important vitamins and minerals and can have a very positive effect on your health. These brown fuzzy fruits have a sweet and slightly tangy taste with green flesh on the inside that lends a unique flavor and tropical zing.

                Kiwi boasts a whole range of nutrients such as fiber, vitamin C, folate, copper, potassium, antioxidants, vitamin E, and vitamin K. The skin and seeds are edible, though many people choose to peel it off because of its fuzzy texture. </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://media.istockphoto.com/photos/whole-cross-section-and-quarter-of-fresh-organic-navel-orange-with-picture-id1227301369?b=1&k=6&m=1227301369&s=170667a&w=0&h=tzXxw9wzxG_ftA2lr5jU-Zf16oOVWTWY4KDrBjDYX1k=" target="_blank">
            <img src="https://media.istockphoto.com/photos/whole-cross-section-and-quarter-of-fresh-organic-navel-orange-with-picture-id1227301369?b=1&k=6&m=1227301369&s=170667a&w=0&h=tzXxw9wzxG_ftA2lr5jU-Zf16oOVWTWY4KDrBjDYX1k=" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Orange has a long, convoluted history, in part because it is not a wild fruit. Rather, it is a carefully refined hybrid of mandarin and pomelo. Contenders for the countries that first cultivated the orange are northeastern India, southern China, and possibly Indochina. While pummelos originate in India, mandarins came from China.

                Several ancient civilizations engaged in citrus cultivation: the Chinese, Indians, Jews, Persians, Arabs, Greeks, and Romans, to name a few. Each of these groups use citrus in one ceremony or another: the Jews buy etrogs for Sukkot, Christians placed oranges on Christmas trees, and the Chinese exchange citrus during the New Year.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU_IYORZVD1awNBCHY2IsGa5Y3uz8eQJQw5g&usqp=CAU" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU_IYORZVD1awNBCHY2IsGa5Y3uz8eQJQw5g&usqp=CAU" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Botanically, watermelon is called Citrullus lanatus and it belongs to Cucurbitaceae family. All the different types of gourds are classified under Cucurbitaceae family. The melons grow on a vine that can reach a length of 3 meters. It is an annual plant, that is, it can only survive in one growing season. The vines are covered with tiny hairs; they are thin and have groves in them. The flowers are yellow-colored. The specialty of this plant is that male and female flowers are produced separately on the same plant. The fruit varies in shape from oblong to spherical. The fleshy fruit is encased in a thick rind while the seeds are encased inside the flesh.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <p><a href="index"> DETECTION </a></p> -->

</div>
</body>
</html>


